# Tuples

## Programming Fundamentals (NB08)

### MIEIC/2019-20

#### João Correia Lopes

INESC TEC, FEUP

## Goals

By the end of this class, the student should be able to:

- Describe how to work with tuples

- Enumerate the main methods available to work with tuples

## Bibliography

- Peter Wentworth, Jeffrey Elkner, Allen B. Downey, and Chris Meyers, *How to Think Like a Computer Scientist — Learning with Python 3* (Section 5.2)

- Brad Miller and David Ranum, Learning with Python: Interactive Edition. Based on material by Jeffrey Elkner, Allen B. Downey, and Chris Meyers (Section 10.26, Section 10.27, Section 10.28)

# Data types: Tuples

## 5.1.1 A compound data type

### A compound data type (recap)

- So far we have seen built-in types like `int`, `float`, `bool`,
    `str` and we've seen lists and pairs

- Strings, lists, and **tuples** are qualitatively different from the
    others because they are made up of smaller pieces

- **Tuples group any number of items, of different types, into a single
    compound value**

- Types that comprise smaller pieces are called **collection** or
    **compound data types**

- Depending on what we are doing, we may want to treat a compound data
    type as a single thing

## 5.2.1 Tuples are used for grouping data

### Tuples are used for grouping data

- A **data structure** is a mechanism for grouping and organizing data
    to make it easier to use

- We saw earlier that we could group together pairs of values:

```
  >>> year_born = ("Paris Hilton", 1981)
  
```

- The pair is an example of a **tuple**


- Generalizing this, a tuple can be used to group any number of items
    into a single compound value

```
  >>> julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
  >>> 
  >>> empty_tuple = ()
  
```

In [0]:
empty_tuple = ()
type(())

### Operations on Tuples

- A tuple lets us "chunk" together related information and use it as a
    single thing

- Tuples support the same sequence operations as strings

- The index operator selects an element from a tuple

$\Rightarrow$
<https://github.com/fpro-feup/public/tree/master/lectures/08/tmethods.py>

What is the output?

In [0]:
tup = (5,)
print(type(tup))

In [0]:
x = (5)
print(type(x))

In [0]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print(julia)

What about this?

In [0]:
julia[0] = "X"

In [0]:
julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]
print(julia)

## 5.2.2 Tuple assignment

### Tuple assignment

- Python has a very powerful tuple assignment feature

- Allows a tuple of variables on the left of an assignment to be
    assigned values from a tuple on the right of the assignment

```
  (name, surname, year_born, movie, year_movie, profession, birthplace) = julia
  
```

$\Rightarrow$
<https://github.com/fpro-feup/public/tree/master/lectures/08/tassign.py>

Tuple packing:

In [0]:
bob = ("Bob", 19, "CS")
print(bob)

Tuple unpacking:

In [0]:
(name, age, studies) = bob
print(name)
print(age)
print(studies)

Swap values:

In [0]:
a = "Gin"
b = "tonic"
temp = a
a = b
b = temp
print(a + " " + b)

Swap without using temp:

In [0]:
a = "Gin"
b = "tonic"
(a, b) = (b, a)
print(a + " " + b)

In [0]:
(one, two, three, four) = (1, 2, 3)

## 5.2.3 Tuples as return values

### Tuples as return values

- Functions can always only return a single value

- By making that value a tuple, we can effectively group together as
    many values as we like, and return them together

$\Rightarrow$
<https://github.com/fpro-feup/public/tree/master/lectures/08/circle_stats.py>

In [0]:
import math

def circle_stats(r):
    """ Return (circumference, area) of a circle of radius r """
    circumference = 2 * math.pi * r
    area = math.pi * r * r
    return (circumference, area)

print(circle_stats(1))

## 5.2.4 Composability of Data Structures

### Composability of Data Structures

- Tuples items can themselves be other tuples

- Tuples may be **heterogeneous**, meaning that they can be composed
    of elements of different type

```
  julia_more_info = ( ("Julia", "Roberts"), (8, "October", 1967),
                       "Actress", ("Atlanta", "Georgia"),
                       [ ("Duplicity", 2009),
                         ("Notting Hill", 1999),
                         ("Pretty Woman", 1990),
                         ("Erin Brockovich", 2000),
                         ("Eat Pray Love", 2010),
                         ("Mona Lisa Smile", 2003),
                         ("Oceans Twelve", 2004) ])
  
```

### Traverse and index

In [0]:
mps = (("Cleese", "John"), ("Gilliam", "Terry"), ("Idle", "Eric"),
       ("Jones", "Terry"), ("Palin", "Michael"))
print(mps)

In [0]:
for pair in mps:
    print(pair[1], pair[0])

In [0]:
for p, value in enumerate(mps):
    print(p, ":", value[1], value[0])

## Tuple comparison

### Tuple comparison

- Sequences of the same type support comparisons
- tuples (and lists) are compared lexicographically by comparing corresponding elements. 
- This means that to compare equal, every element must compare equal and the two sequences must be of the same type and have the same length.


```
>>> a = (1, 2, 3)
>>> b = (1, 2, 5)
>>> a < b
```

Try this:

In [0]:
a = (2, 1, 3)
b = (1, 2, 5)
a < b

In [0]:
a = (2, 1)
b = (1, 2, 5)
a < b

In [0]:
a = ()
b = (1, 2, 5)
a < b

## Tuple operations

### Updating Tuples

- Tuples are **immutable**, which means you cannot update or change the
    values of tuple elements

- You are able to take portions of existing tuples to create new
    tuples

```
  tup1 = (12, 34.56)

  # Following action is not valid for tuples
  # tup1[0] = 100

  # So let's create a new tuple as follows
  tup1 = (100,) + tup1[1:]
  print(tup1)
  
```

$\Rightarrow$
<https://github.com/fpro-feup/public/tree/master/lectures/08/tmore.py>

In [0]:
tup = (1000, 3.14159)
print(tup)
tup[0] = 100 # an ERROR!

In [0]:
tup = (100,) + tup[1:]
print(tup)

### Common Sequence Operations

- See the Python Standard Library for a comprehensive list of
    operations on tuples (and other sequences)
    
[Common Sequence Operations](https://docs.python.org/3.7/library/stdtypes.html#common-sequence-operations)

# Ticket to leave

## Moodle activity

[LE08: Tuples](https://moodle.up.pt/mod/quiz/view.php?id=39214)


$\Rightarrow$ 
[Go back to the Table of Contents](00-contents.ipynb)

$\Rightarrow$ 
[Read the Preface](00-preface.ipynb)